# Data files
Data/Source/

# ipynb_checkpoints folders
Metadata/.ipynb_checkpoints/
Modeling/.ipynb_checkpoints/
Testing/.ipynb_checkpoints/
.ipynb_checkpoints/

# pycache
__pycache__/
Modeling/Models/__pycache__/

# Models
Modeling/Models/

questions.md
Project Notes.txt